<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>医院模板</title>
    <link href="/static/web/hall/mybg_style.css" rel="stylesheet" />
    <script src="/static/web/hall/jquery.min.js"></script>
    <script type="text/javascript">
        

    </script>
</head>

<body>
    <!--上部-->
    <div class="container">
        <div class="top">
            <div class="top-logo"></div>
            <div class="top-name">检验科</div>
            <div class="top-blank"></div>
            <div class="top-date" id="divDate"></div>
            <div class="top-time" id="divTime"></div>
        </div>
        <div class="main">
            <div class="main_blank"></div>
            <div class="main_table">
                <div class="main_title">
                    <div class="main_title_1">患者姓名</div>
                    <div class="main_title_2">性别</div>
                    <div class="main_title_3">年龄</div>
                    <div class="main_title_4">检查项目</div>
                    <div class="main_title_5">报告状态</div>
                </div>
                <div class="main_down" id="divList">
                    <div class="main_down_line">
                        <div class="main_down_line_1">刘丽娜(0004)</div>
                        <div class="main_down_line_2">女</div>
                        <div class="main_down_line_3">43</div>
                        <div class="main_down_line_4"><marquee direction="left" scrollamount="4">血常规化验血常规化验</marquee></div>
                        <div class="main_down_line_5">可取报告</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom-word">请其他患者在大厅候诊区等候就诊</div>
        </div>
    </div>
    <object type="application/zxz-plugin" data="0" width="0" height="0" id="Callobject"></object>
</body>
</html>
<script type="text/javascript">
    function ShowTime() {
        try {
            var datetime = window.Callobject.getDateTime();
            var year = datetime.split(' ')[0].split('-')[0].toString() + '年' + datetime.split(' ')[0].split('-')[1].toString() + '月' + datetime.split(' ')[0].split('-')[2].toString() + '日';
            var week = "　星期" + "日一二三四五六".charAt(datetime.split(' ')[2].toString().trim().replace('7', '0'));
            var time = datetime.split(' ')[1].toString();
            $("#divDate").html(week + year);
            $("#divTime").html(time.split(':')[0] + ':' + time.split(':')[1]);
        }
        catch (ex) { }
    }
    var rows = 5;
    function PagerShow() {
        $("#divList").html("");
        var c = parseInt(data.count);
        if (c > 0) {
            var i = 0, j = rows;
            var html = "";
            if (c <= rows) {
                j = c;
                page = 1;
                setTimeout(GetList, 5000);
            }
            else {
                if (c > rows * page) {
                    i = (rows * (page - 1));
                    j = rows * page;
                    page = page + 1;
                }
                else {
                    i = (rows * (page - 1));
                    j = c;
                    page = 1;
                    setTimeout(GetList, 5000);
                }
            }

            for (var n = i; n < j; n++) {
                try {
                    html += "<div class=\"line\"><div class=\"w10\">" + data.list[n].brxm + "</div><div class=\"w15\">" + data.list[n].mzh + "</div><div class=\"w30\">" + data.list[n].xmmc + "</div><div class=\"w15\">" + data.list[n].bbzt + "</div><div class=\"w15\">" + data.list[n].bgzt + "</div><div class=\"w15\">" + data.list[n].dyzt + "</div></div>";
                    html += '<div class="main_down_line">';
                    html += '<div class="main_down_line_1">' + data.list[n].NAME + '</div>';
                    html += '<div class="main_down_line_2">' + data.list[n].SEX + '</div>';
                    html += '<div class="main_down_line_3">' + data.list[n].AGE + '</div>';
                    html += '<div class="main_down_line_4">' + (data.list[n].JY_ITEM.length > 12 ? '<marquee direction="left" scrollamount="4">' + data.list[n].JY_ITEM + '</marquee>' : data.list[n].JY_ITEM) + '</div>';
                    html += '<div class="main_down_line_5">' + (data.list[n].Confirm_flag == "0" ? '<span style="color:red;">检测中</span>' : '<span style="color:green;">可取报告</span>') + '</div>';
                    html += '</div>';

                } catch (e) {

                }

            }

        }
        else {
            setTimeout(GetList, 5000);
        }


        $("#divList").html(html);
    }
    function sortObjectArray(objArr, keyArr, type) {
        for (var x = 0; x < objArr.length; x++) {
            objArr[x].oldIndex = x;
        }
        if (type != undefined && type != 'asc' && type != 'desc') {
            return 'error';
        }
        var order = 1;
        if (type != undefined && type == 'desc') {
            order = -1;
        }
        var key = keyArr[0];
        objArr.sort(function (objA, objB) {
            if (objA[key] > objB[key]) {
                return order;
            } else if (objA[key] < objB[key]) {
                return 0 - order;
            } else {
                if (objA.oldIndex > objB.oldIndex) {
                    return order;
                } else if (objA.oldIndex < objB.oldIndex) {
                    return 0 - order;
                } else {

                    return 0;
                }
            }
        })

        for (var i = 1; i < keyArr.length; i++) {
            var key = keyArr[i];
            for (var y = 0; y < objArr.length; y++) {
                objArr[y].oldIndex = y;
            }
            objArr.sort(function (objA, objB) {
                for (var j = 0; j < i; j++) {
                    if (objA[keyArr[j]] != objB[keyArr[j]]) {
                        if (objA.oldIndex > objB.oldIndex) {
                            return order;
                        } else if (objA.oldIndex < objB.oldIndex) {
                            return 0 - order;
                        } else {
                            return 0;
                        }
                    }
                }
                if (objA[key] > objB[key]) {
                    return order;
                } else if (objA[key] < objB[key]) {
                    return 0 - order;
                } else {
                    if (objA.oldIndex > objB.oldIndex) {
                        return order;
                    } else if (objA.oldIndex < objB.oldIndex) {
                        return 0 - order;
                    } else {
                        return 0;
                    }
                }
            })
        }
        return objArr;
    }
    function setsort(pdata) {
        if (pdata.count > 0) {
            //按部门排序使用“,”分隔，同一序列内使用“|”分隔，不能超过100个部门
            var deptArray = ["普外", "五官", "心血管", "呼吸", "神经", "消化", "肾病|内分泌科", "肝病", "感染", "胃肠|小儿", "肝胆甲乳", "泌尿烧伤", "神经", "骨一科", "骨二科", "妇科", "产科", "儿科", "儿保", "康复", "口腔", "皮肤", "中医", "疼痛", "护理"];
            var titleArray = ["主任医师", "副主任医师", "主治医师", "医师", "护师", "护士"];

            for (var i = 0; i < pdata.count; i++) {
                var item = pdata.list[i];
                item.departmentsort = 100;
                item.titlesort = 10;
                for (var j = 0; j < deptArray.length; j++) {
                    var deptlist = deptArray[j].split("|");
                    if (deptlist.length > 1) {
                        for (j1 = 0; j1 < deptlist.length; j1++) {
                            if (item.department.indexOf(deptlist[j1]) >= 0) {
                                item.departmentsort = j;
                                break;
                            }
                        }
                    }
                    else {
                        if (item.department.indexOf(deptArray[j]) >= 0) {
                            item.departmentsort = j;
                            break;
                        }
                    }
                }
                for (var k = 0; k < titleArray.length; k++) {
                    if (item.title == titleArray[k]) {
                        item.titlesort = k;
                        break;
                    }
                }
            }
        }
        pdata.list = sortObjectArray(pdata.list, ['departmentsort', 'titlesort', 'login_id']);
        var newpdata = pdata.list;
        for (var i = 0; i < newpdata.length; i++) {
            if (newpdata[i].departmentsort >= 100)
                pdata.list.splice(i);
        }

        return pdata;
    }
    function GetData(sql) {
        var datalist = null;
        $.ajax({
            type: "GET",
            async: false,
            url: "/client/orclCommSelect",
            contentType: "application/text;charset=utf-8",
            dataType: "json",
            data: { "sql": sql },
            cache: false,
            success: function (pdata) {
                datalist = pdata;
            }
        });
        return datalist;
    }
    function GetList() {
        data = GetData("select  *  from  PDJH_JYK");

    }
    GetList();
    ShowTime();
    PagerShow();
    window.setInterval(ShowTime, 5000);
    window.setInterval(PagerShow, 5000);

</script>