<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>今日排班</title>
    <link href="/static/web/hall/style-pb-green-v-day.css" rel="stylesheet" />
    <script src="/static/web/hall/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <!--上部-->
        <div class="top">
            <div class="logo">
                <img src="/static/web/image/logo.png">
            </div>
            <div class="name" id="jrczzj">今日出诊专家</div>
        </div>

        <!--中部-->
        <div id="w_title" class="main_title"></div>
        <div class="main" id="main">
            
            <div id="list"></div>
        </div>
        <div class="bottom">
            <div class="title">
                <div class="span">&nbsp;</div>
                <div class="span mline">&nbsp;</div>
                <div class="span2">温馨提示</div>
                <div class="span mline">&nbsp;</div>
                <div class="span">&nbsp;</div>
            </div>
            <div class="tipcontent">
                1、我院实行实名制就诊。请持身份证办卡或完善就诊卡信息。<br />
                2、我院开放7天内的号源预约，每日7：30放号。请提前预约挂号。预约方式有：微信、支付宝、医院网站、电话、114、现场等。
            </div>
        </div>
    </div>

</body>

</html>
<script type="text/javascript">
    //参数说明：
    //week:星期一到星期日数字;1,2,3,4,5,6,7;示列：week=1;week=6,7;不含参数时为当日;
    var data;
    var px = 1540, time = 5000;
    var count = 1;
    var page = 1;
    var soc = null;
    function ShowTime() {
        try {
            var datetime = window.Callobject.getDateTime();
            var year = datetime.split(' ')[0].split('-')[0].toString() + '年' + datetime.split(' ')[0].split('-')[1].toString() + '月' + datetime.split(' ')

            [0].split('-')[2].toString() + '日';
            var week = "　星期" + "日一二三四五六".charAt(datetime.split(' ')[2].toString().trim().replace('7', '0'));
            var time = datetime.split(' ')[1].toString();
            $("#now_date").html(year + week);
            $("#now_time").html(time.split(':')[0] + ':' + time.split(':')[1]);
        }
        catch (ex) { }
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    var ip = getUrlParam("ip");
    //
    var week = getUrlParam("week");
    if(week==null||week==undefined)
        {
            //var datetime = window.Callobject.getDateTime();
            //week="0123456".charAt(datetime.split(' ')[2].toString().trim().replace('7', '0'));
            var mydate=new Date();
            var myddy=mydate.getDay();//获取存储当前日期
            var weekday=["0","1","2","3","4","5","7"];
            week= weekday[myddy];
            
        }
    var w = new Array();
    var wstr=new Array();
    if (week) {
        var ws = week.split(",");
        var str = "";
        for (var i = 0; i < ws.length; i++) {
            switch (ws[i]) {
                case "1":
                    str += "一、";
                    w.push("1");
                    wstr.push("一");
                    break;
                case "2":
                    str += "二、";
                    w.push("2");
                    wstr.push("二");
                    break;
                case "3":
                    str += "三、";
                    w.push("3");
                    wstr.push("三");
                    break;
                case "4":
                    str += "四、";
                    w.push("4");
                    wstr.push("四");
                    break;
                case "5":
                    str += "五、";
                    w.push("5");
                    wstr.push("五");
                    break;
                case "6":
                    str += "六、";
                    w.push("6");
                    wstr.push("六");
                    break;
                case "7":
                    str += "日、";
                    w.push("7");
                    wstr.push("日");
                    break;
            }

        }
        str = str.substr(0, str.length - 1);
        if (str.length > 1)
            $("#jrczzj").html("<span style='font-size:36px'>星期" + str + "出诊专家</span>");
        else
            $("#jrczzj").html("星期" + str + "出诊专家");
    }

    //var wait = getUrlParam("wait");
    var rows = 1;
    function PagerShow() {
        
        var c = parseInt(w.length);
        if (c > 0) {
            var i = 0, j = rows;
            var html = "";
            if (c <= rows) {
                j = c;
                setTimeout(GetList, 20000);
            }
            else {
                if (c > rows * page) {
                    i = (rows * (page - 1));
                    j = rows * page;
                    page = page + 1;
                }
                else {
                    i = (rows * (page - 1));
                    j = c;
                    page = 1;
                    GetList();
                }
            }
            for (var n = i; n < j; n++) {
                var wday = w[n];
                var html = "";
                $("#list").html("");
                if (w.length == 1)
                {
                    $("#w_title").hide();
                    px=1540;
                    $("#main").height(px);
                }
                    
                else{
                    px=1430;
                    $("#main").height(px);
                    $("#w_title").show();
                    $("#w_title").html("星期"+wstr[n]+"出诊专家");
                }
                var w_data = null;

                switch (wday) {
                    case "1":
                        w_data=data.list.wlist1;
                        break;
                    case "2":
                        w_data=data.list.wlist2;
                        break;
                    case "3":
                        w_data=data.list.wlist3;
                        break;
                    case "4":
                        w_data=data.list.wlist4;
                        break;
                    case "5":
                        w_data=data.list.wlist5;
                        break;
                    case "6":
                        w_data=data.list.wlist6;
                        break;
                    case "7":
                        w_data=data.list.wlist7;
                        break;
                }
                var newdata=jsonGrop(setsort(w_data));
                
                   for(var l=0;l<newdata.list.length;l++)
                    {

                        var item=newdata.list[l];
                        html += '<div class="title"><div class="span">&nbsp;</div><div class="span mline">&nbsp;</div><div class="span2">' + item.name + '</div><div class="span mline">&nbsp;</div><div class="span">&nbsp;</div></div>';
                        html += '<ul>';
                        $.each(item.data, function (j, doctor) {
                            var duty = "全天";
                            if (doctor.onduty2 == 1)
                                duty = "上午";
                            else if (doctor.onduty2 == 2)
                                duty = "下午";
                            html += '<li>';
                            html += '<div class="img"><img src="/static/web/image/' + doctor.login_id + '.jpg" width="66" height="88" /></div>';
                            html += '<div class="doc">';
                            //html += '<div class="doczj"></div>';
                            html += '<div class="docname">' + doctor.name + '</div>';
                            html += '<div class="doctitle">' + doctor.title + '</div>';
                            html += '<div class="doctime">' + duty + '</div>';
                            html += '</div>';
                            html += '</li>';
                        });
                        html += '</ul>';
                    }
                
                $("#list").html(html);
                Scoll();
            }
        }
        else {
            setTimeout(GetList, 20000);
        }
    }
    function sortObjectArray(objArr, keyArr, type) {
        for (var x = 0; x < objArr.length; x++) {
            objArr[x].oldIndex = x;
        }
        if (type != undefined && type != 'asc' && type != 'desc') {
            return 'error';
        }
        var order = 1;
        if (type != undefined && type == 'desc') {
            order = -1;
        }
        var key = keyArr[0];
        objArr.sort(function (objA, objB) {
            if (objA[key] > objB[key]) {
                return order;
            } else if (objA[key] < objB[key]) {
                return 0 - order;
            } else {
                if (objA.oldIndex > objB.oldIndex) {
                    return order;
                } else if (objA.oldIndex < objB.oldIndex) {
                    return 0 - order;
                } else {

                    return 0;
                }
            }
        })

        for (var i = 1; i < keyArr.length; i++) {
            var key = keyArr[i];
            for (var y = 0; y < objArr.length; y++) {
                objArr[y].oldIndex = y;
            }
            objArr.sort(function (objA, objB) {
                for (var j = 0; j < i; j++) {
                    if (objA[keyArr[j]] != objB[keyArr[j]]) {
                        if (objA.oldIndex > objB.oldIndex) {
                            return order;
                        } else if (objA.oldIndex < objB.oldIndex) {
                            return 0 - order;
                        } else {
                            return 0;
                        }
                    }
                }
                if (objA[key] > objB[key]) {
                    return order;
                } else if (objA[key] < objB[key]) {
                    return 0 - order;
                } else {
                    if (objA.oldIndex > objB.oldIndex) {
                        return order;
                    } else if (objA.oldIndex < objB.oldIndex) {
                        return 0 - order;
                    } else {
                        return 0;
                    }
                }
            })
        }
        return objArr;
    }
    function setsort(pdata) {
        var newdata = [];
        if (pdata.length > 0) {
            //按部门排序使用“,”分隔，同一序列内使用“|”分隔
            //var deptArray = ["心血管", "呼吸", "神经", "消化", "肾病|内分泌科", "肝病", "感染", "胃肠|小儿", "肝胆甲乳", "泌尿烧伤", "神经", "骨一科", "骨二科", "妇科", "产科", "儿科", "儿保", "五官", "康复", "口腔", "皮肤", "中医", "疼痛", "护理"];
            //var deptArray = ["妇科", "产科", "儿科"];
            var titleArray = ["主任医师", "副主任医师", "主治医师", "医师", "护师", "护士"];
            var deptArray=[];
            //是否显示全部科室还是显示指定科室
            var showall=true;
            for(var i=0;i<pdata.length;i++){
                if(showall)
                {
                    var deptName=pdata[i].department;
                    if(deptArray.indexOf(deptName)>=0)
                        continue;
                    else
                        deptArray.push(deptName);
                }
                
            }
            for (var i = 0; i < pdata.length; i++) {
                var item = pdata[i];
                item.departmentsort = 1000;

                for (var j = 0; j < deptArray.length; j++) {
                    var deptlist = deptArray[j].split("|");
                    if (deptlist.length > 1) {
                        for (j1 = 0; j1 < deptlist.length; j1++) {
                            if (item.department.indexOf(deptlist[j1]) >= 0) {
                                item.departmentsort = j;
                                newdata.push(item);
                                break;
                            }
                        }
                    }
                    else {
                        if (item.department.indexOf(deptArray[j]) >= 0) {
                            item.departmentsort = j;
                            newdata.push(item);
                            break;
                        }
                    }
                }
                item.titlesort = 10;
                for (var k = 0; k < titleArray.length; k++) {
                    if (item.title.indexOf(titleArray[k]) >= 0) {
                        item.titlesort = k;
                        break;
                    }
                }
            }
        }
        pdata = sortObjectArray(pdata, ['departmentsort', 'titlesort', 'login_id']);
        var newpdata=pdata;
        for (var i = 0; i <newpdata.length;i++) {
            if (newpdata[i].departmentsort >= 1000)
                pdata.splice(i);
        }
        return pdata;
    }
    function jsonGrop(json) {
        var arr = json;
        var map = {};
        var dest = [];
        var k = 0;
        for (var i = 0; i < arr.length; i++) {
            var ai = arr[i];
            if (!map[ai.departmentsort]) {

                dest.push({
                    id: ai.departmentsort,
                    name: ai.department,
                    data: [ai],
                    count: k
                });
                map[ai.departmentsort] = ai;
            } else {
                for (var j = 0; j < dest.length; j++) {
                    var dj = dest[j];
                    if (dj.id == ai.departmentsort) {
                        dj.data.push(ai);
                        break;
                    }
                }
            }
        }
        /* for (var i = 0; i < arr.length; i++) {
            var ai = arr[i];
            if (!map[ai.department]) {

                dest.push({
                    id: ai.department,
                    name: ai.department,
                    data: [ai],
                    count:k
                });
                map[ai.department] = ai;
            } else {
                for (var j = 0; j < dest.length; j++) {
                    var dj = dest[j];
                    if (dj.id == ai.department) {
                        dj.data.push(ai);
                        break;
                    }
                }
            }
        } */
        return { "count": dest.length, "list": dest };
    }
    function select(pdata) {
        var sdata = new Array();
        var c = 0;
        var showdoctlist = ["2771", "2772"];
        if (pdata.count > 0) {
            for (var i = 0; i < pdata.count; i++) {
                var item = pdata.list[i];
                for (var j = 0; j < showdoctlist.length; j++) {
                    if (item.login_id == showdoctlist[j]) {
                        sdata.push(item);
                        c++;
                        break;
                    }
                }
            }
        }
        return { "count": c, "list": sdata };
    }
    function GetList() {

        $.ajax({
            type: "GET",
            async: false,
            url: "/paiban/DoctorPaibanWeekByDatabase",
            contentType: "application/text;charset=utf-8",
            data: { "week": week },
            dataType: "json",
            cache: false,
            success: function (pdata) {

                data = pdata;
                //Scoll();
            }
        });
    }

    //按页滚动
    var page2=0
    function Scoll() {
        var div = $("#list");
        count = Math.ceil(div.height() / px);
        if (page2 == count) {
            page2 = 0;
            
            PagerShow();
            return;
        }
        if (page2 > 0)
            div.animate({ marginTop: -(page2 * px) }, 1000);
        else
            div.animate({ marginTop: -(page2 * px) }, 0);
        page2 += 1;
        if (count > 1) {
            if (soc != null)
                window.clearTimeout(soc);
            soc = window.setTimeout(Scoll, time);
        }
        else
            window.setTimeout(PagerShow, 5000);
    }
    GetList();
    PagerShow();
    ShowTime();
    window.setInterval(ShowTime, 5000);
</script>