<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>今日排班</title>
    <link href="/static/web/hall/style-pb-h-led.css" rel="stylesheet" />
    <script src="/static/web/hall/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="w39">
            <div class="w38 h18 t-c bd">日期</div>
            <div class="week bd"><div class="today" id="now_date"></div></div>
        </div>
        <div id="list">
            <!--<div class="w390">
                <div class="row h19">
                    <div class="w59 h18 bd t-c">诊室</div>
                    <div class="w119 h18 bd t-c">科室类别</div>
                    <div class="w139 h18 bd t-c">出诊医生</div>
                    <div class="w69 h18 bd t-c">出诊时间</div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
                <div class="row h20">
                    <div class="w59 h19 bd t-c"></div>
                    <div class="w119 h19 bd t-c"></div>
                    <div class="w139 h19 bd t-c"></div>
                    <div class="w69 h19 bd t-c"></div>
                </div>
            </div>-->
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    var page = 1;
    var data;
    function ShowTime() {
        try {
            var obj, n, y, r, s, f, x;
            var weekday = new Array(7)
            weekday[0] = "日"
            weekday[1] = "一"
            weekday[2] = "二"
            weekday[3] = "三"
            weekday[4] = "四"
            weekday[5] = "五"
            weekday[6] = "六"
            obj = new Date();
            n = obj.getYear() + 1900;
            if (obj.getMonth() < 9) {
                y = "0" + (obj.getMonth() + 1);
            }
            else {
                y = obj.getMonth() + 1;
            }
            if (obj.getDate() < 10) {
                r = "0" + obj.getDate();
            }
            else {
                r = obj.getDate();
            }
            x = "星期" + weekday[obj.getDay()];
            if (obj.getHours() < 10) {
                s = "0" + obj.getHours();
            }
            else {
                s = obj.getHours();
            }
            if (obj.getMinutes() < 10) {
                f = "0" + obj.getMinutes();
            }
            else {
                f = obj.getMinutes();
            }
            Getdata = n + "年" + y + "月" + r + "日";
            indata = s + ":" + f;
            //$("#divDate").html(x + '<br />' + Getdata);
            //$("#divTime").html(indata);
            $("#now_date").html(x);
        }
        catch (ex) { }
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
    var ip = getUrlParam("ip");
    //var wait = getUrlParam("wait");
    var rows = 28;
    var page_data = new Array();
    function PagerShow() {
        $("#list").html("");
        var c = parseInt(data.count);
        if (c > 0) {
            var i = 0, j = rows;
            var html = "";
            if (c <= rows) {
                j = c;
                setTimeout(GetList, 60000);
            }
            else {
                if (c > rows * page) {
                    i = (rows * (page - 1));
                    j = rows * page;
                    page = page + 1;
                }
                else {
                    i = (rows * (page - 1));
                    j = c;
                    page = 1;
                    GetList();
                }
            }
            page_data.length = 0;
            for (var n = i; n < j; n++) {
                page_data.push(data.list[n]);
            }
            for (var t = 0; t < 4; t++) {
                html += "<div class=\"w390\"><div class=\"row h19\"><div class=\"w59 h18 bd t-c\">诊室</div><div class=\"w119 h18 bd t-c\">科室编码类别</div><div class=\"w139 h18 bd t-c\">出诊医生</div><div class=\"w69 h18 bd t-c\">出诊时间</div></div>";
                for (var h = 1; h < 8; h++) {
                    try {
                        var row_data = page_data[t*7+h-1];
                        html += "<div class=\"row h20\"><div class=\"w59 h19 bd t-c\">" + row_data.诊室 + "</div><div class=\"w119 h19 bd t-l\">" + row_data.科室类别 + "</div><div class=\"w139 h19 bd t-l\">" + row_data.出诊医生 + row_data.职称 + "</div><div class=\"w69 h19 bd t-c\">" + row_data.出诊时间 + "</div></div>";
                    } catch (e) {
                        html += "<div class=\"row h20\"><div class=\"w59 h19 bd t-c\"></div><div class=\"w119 h19 bd t-l\"></div><div class=\"w139 h19 bd t-l\"></div><div class=\"w69 h19 bd t-c\"></div></div>";
                    }
                    
                }
                html += "</div>";
            }
        }
        else
        {
            setTimeout(GetList,60000);
        }


        $("#list").html(html);
    }
    function sortObjectArray(objArr, keyArr, type) {
        for (var x = 0; x < objArr.length; x++) {
            objArr[x].oldIndex = x;
        }
        if (type != undefined && type != 'asc' && type != 'desc') {
            return 'error';
        }
        var order = 1;
        if (type != undefined && type == 'desc') {
            order = -1;
        }
        var key = keyArr[0];
        objArr.sort(function (objA, objB) {
            if (objA[key] > objB[key]) {
                return order;
            } else if (objA[key] < objB[key]) {
                return 0 - order;
            } else {
                if (objA.oldIndex > objB.oldIndex) {
                    return order;
                } else if (objA.oldIndex < objB.oldIndex) {
                    return 0 - order;
                } else {

                    return 0;
                }
            }
        })

        for (var i = 1; i < keyArr.length; i++) {
            var key = keyArr[i];
            for (var y= 0; y < objArr.length; y++) {
                objArr[y].oldIndex = y;
            }
            objArr.sort(function (objA, objB) {
                for (var j = 0; j < i; j++) {
                    if (objA[keyArr[j]] != objB[keyArr[j]]) {
                        if (objA.oldIndex > objB.oldIndex) {
                            return order;
                        } else if (objA.oldIndex < objB.oldIndex){
                            return 0 - order;
                        } else {
                            return 0;
                        }
                    }
                }
                if (objA[key] > objB[key]) {
                    return order;
                } else if (objA[key] < objB[key]){
                    return 0 - order;
                } else {
                    if (objA.oldIndex > objB.oldIndex) {
                        return order;
                    } else if (objA.oldIndex < objB.oldIndex){
                        return 0 - order;
                    } else {
                        return 0;
                    }
                }
            })
        }
        return objArr;
    }
    function setsort(pdata)
    {
        if (pdata.count > 0) {
            //按部门排序使用“,”分隔，同一序列内使用“|”分隔，不能超过100个部门
            var deptArray = ["普外", "五官", "心血管", "呼吸", "神经", "消化", "肾病|内分泌科", "肝病", "感染", "胃肠|小儿", "肝胆甲乳", "泌尿烧伤", "神经", "骨一科", "骨二科", "妇科", "产科", "儿科", "儿保", "康复", "口腔", "皮肤", "中医", "疼痛", "护理"];
            var titleArray = ["主任医师", "副主任医师", "主治医师", "医师", "护师", "护士"];

            for (var i = 0; i < pdata.count; i++) {
                var item = pdata.list[i];
                item.departmentsort = 100;
                item.titlesort = 10;
                for (var j = 0; j < deptArray.length; j++) {
                    var deptlist = deptArray[j].split("|");
                    if (deptlist.length > 1) {
                        for (j1 = 0; j1 < deptlist.length; j1++)
                        {
                            if (item.department.indexOf(deptlist[j1]) >= 0)
                            {
                                item.departmentsort = j;
                                break;
                            }
                        }
                    }
                    else {
                        if (item.department.indexOf(deptArray[j]) >= 0) {
                            item.departmentsort = j;
                            break;
                        }
                    }
                }
                for (var k = 0; k < titleArray.length; k++)
                {
                    if (item.title==titleArray[k])
                    {
                        item.titlesort = k;
                        break;
                    }
                }
            }
        }
        pdata.list = sortObjectArray(pdata.list, ['departmentsort', 'titlesort', 'login_id']);
        var newpdata=pdata.list;
        for (var i = 0; i <newpdata.length;i++) {
            if (newpdata[i].departmentsort >= 100)
                pdata.list.splice(i);
        }

        return pdata;
    }
    function GetData(sql) {
        var datalist = null;
        $.ajax({
            type: "GET",
            async: false,
            url: "/client/sqlCommSelect",
            contentType: "application/text;charset=utf-8",
            dataType: "json",
            data: { "sql": sql },
            cache: false,
            success: function (pdata) {
                datalist = pdata;
            }
        });
        return datalist;
    }
    function GetList()
    {
        data = GetData("select * from pdjh_pbxx where 科室类别 not  like '急诊%' and  科室类别<>'便民门诊'  and 科室类别 not  like '健康管理中心%'  order by 科室编码,诊室");
        //$.ajax({
        //    type: "GET",
        //    async: false,
        //    url: "/paiban/DoctorPaibanWeekByDatabase",
        //    contentType: "application/text;charset=utf-8",
        //    dataType: "json",
        //    cache: false,
        //    success: function (pdata) {

        //        pdata.list = sortObjectArray(pdata.list, ['other']);

        //        //pdata.list = sortObjectArray(pdata.list, ['departmentsort', 'titlesort', 'login_id']);
        //        var newpdata = new Array();
        //        for (var i = 0; i < pdata.list.length; i++) {
        //            if (pdata.list[i].other != null && pdata.list[i].other != "")
        //                newpdata.push(pdata.list[i]);
        //        }
        //        //return pdata;
        //        data = newpdata;
        //    }
        //});
    }
    GetList();
    ShowTime();
    PagerShow();
    window.setInterval(ShowTime, 60000);
    window.setInterval(PagerShow, 60000);
</script>