@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
        var _colnames = ["ID", "所属分诊台","叫号器名称","叫号器显示名称","IP地址","叫号器类型","描述信息"];
		var _colmodel = [
                        {name: "id", index: "id", width: 100 },
                        {name: "triage_name", index: "triage_name", width: 100 },
						{name:"name", index:"name", width:100},
						{name:"display_name", index:"display_name", width:100},
						{name:"ip", index:"ip", width:100},
						{name:"type", index:"type", width:100},
						{name:"description", index:"description", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
        <div class="col-xs-12 tb-grid">
            <!-- 配置 查询 -->
            @ var _col=[
            @		{name:"ID", index:"id", type:"text"},
            @		{name:"所属分诊台", index:"triage_name", type:"text"},
            @		{name:"叫号器名称", index:"name", type:"text"},
            @		{name:"叫号器显示名称", index:"display_name", type:"text"},
            @		{name:"IP地址", index:"ip", type:"text"},
            @		{name:"描述信息", index:"description", type:"text"}
            @];
            @ include("/common/_function/_search.html",{"col":_col}){}
            <!-- 按钮 -->
            <div class="welljq well-sm" id="btns"></div>
            <!-- grid -->
            <table id="grid-table"></table>
            <!-- 分页-->
            <div id="grid-pager"></div>
        </div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	