@font-face {
	font-family: FZLTHK;
	src: url("FZLTHK.TTF"); /*方正兰亭黑_GBK*/
}

@font-face {
	font-family: FZLTZCHK;
	src: url("FZLTZCHK.TTF"); /*方正兰亭中粗黑_GBK*/
}

@font-face {
	font-family: FZLTXCHK;
	src: url("FZLTXCHK.TTF"); /*方正兰亭细黑_GBK*/
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "FZLTHK";
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/*整体*/
.container {
    width: 1080px;
    height: 1920px;
    margin: 0px auto;
    float: left;
    background: url(images/main_back_white.jpg) no-repeat;
}

.content {
	width: 1054px;
	height: 1497px;
	float: left;
	border-radius: 10px;
	background: #FFF;
	margin: 0 13px;
}
/*上部*/
.content .top {
	width: 100%;
	height: 160px;
	float: left;
}

.content .top .logo {
	width: 360px;
	height: 160px;
	float: left;
	font-family: FZLTHK;
	line-height: 160px;
	font-size: 72px;
	color: #4e3f49;
	padding-left: 30px;
	overflow: hidden;
}

.content .top .logo span {
	font-size: 36px;
}

.content .top .date {
	width: 370px;
	height: 90px;
	float: left;
	color: #9f8b97;
	font-size: 28px;
	text-align: right;
	line-height: 45px;
	margin-top: 43px;
	font-family: "FZLTHK";
	letter-spacing: 1px;
	overflow: hidden;
}

.content .top .time {
	width: 290px;
	height: 90px;
	float: left;
	font-size: 90px;
	color: #4e3f49;
	text-align: right;
	line-height: 90px;
	margin-top: 43px;
	font-family: "FZLTXCHK";
	letter-spacing: 3px;
	overflow: hidden;
}

/*中间*/
.content .jz {
	width: 1052px;
	height: 160px;
	float: left;
	border: 1px solid #d6d6d6;
	background-color: #feefdc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content .jz .pat {
	width: 50%;
	float: left;
}

.content .jz .pat .p_title {
	width: 25%;
	float: left;
	padding-left: 5%;
	padding-top: 30px;
	color: #3f9685;
	font-size: 38px;
	line-height: 50px;
	overflow: hidden;
	font-family: FZLTXCHK;
	font-weight: bold;
}

.content .jz .pat .p_name {
	width: 63%;
	float: left;
	/*padding-left: 3%;*/
	font-family: FZLTZCHK;
	color: #fe8a00;
	font-size: 60px;
	overflow: hidden;
	line-height: 160px;
	text-align: justify;
	text-align-last: justify;
    height:160px;
}

.content .jz .pat .color {
	color: #4e3f49 !important;
}

.content .jz .r_b {
	background: right top url(images/bgborder.jpg) repeat-y !important;
}

.content .title {
	width: 100%;
	height: 85px;
	text-align: center;
	font-size: 38px;
	line-height: 85px;
	color: #3f9685;
	overflow: hidden;
	font-family: FZLTXCHK;
	font-weight: bold;
}

.content .dh {
	width: 1002px;
	height: 400px;
	padding: 30px 26px 0px 26px;
	background-color: #feefdc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content .fz {
	width: 1002px;
	height: 160px;
	padding: 0px 26px 0px 26px;
	background-color: #feefdc;
}

.content li {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #d5d1cb;
}

.content li span {
	width: 25%;
	height: 79px;
	float: left;
	font-family: FZLTZCHK;
	font-size: 20px;
	line-height: 79px;
}

.content li span a {
	border-radius: 5px;
	color: #fff;
	padding: 5px 5px 2px 5px;
}

.content li span b {
	width: 60px;
	text-align: center;
	font-weight: normal;
	display: inline-block;
}

.content li span label {
	width: 80px;
	text-align: justify;
	margin-right: 10px;
	text-align-last: justify;
	display: inline-block;
	font-size: 24px;
}

.content li .c_wait {
	color: #3f9685;
}

.content li .c_wait a {
	background-color: #3f9685 !important;
}

.content li .c_first {
	color: #fe8a00;
}

.content li .c_first a {
	background-color: #fe8a00 !important;
}

.content li .c_pass {
	color: #e6003e;
}

.content li .c_pass a {
	background-color: #e6003e !important;
}

.content li .c_sign {
	color: #4e3f49;
}

.content li .c_sign a {
	background-color: #4e3f49 !important;
}

.content .doctor {
	width: 1002px;
	height: 390px;
	padding: 30px 26px 0px 26px;
}

.content .doctor .pic {
	width: 288px;
	height: 368px;
	float: left;
	border: #c7b1b7 solid 1px;
}

.content .doctor .d-right {
	width: 660px;
	height: 370px;
	float: left;
	margin: 0px 0 0 40px;
	color: #4e3f49;
}

.content .doctor .d-right .d-n {
	width: 670px;
	height: 60px;
	float: left;
	font-size: 55px;
	line-height: 60px;
	font-family: FZLTZCHK;
	text-align: left;
	letter-spacing: 3px;
}

.content .doctor .d-right .d-n span {
	font-size: 40px;
	line-height: 60px;
	font-family: FZLTXCHK;
	margin-left: 30px;
}

.content .doctor .d-right .d-jianjie {
	width: 660px;
	height: 310px;
	float: left;
	font-size: 27px;
	color: #4e3f49;
	line-height: 45px;
	text-align: justify;
	word-break: normal;
	letter-spacing: 2px;
	text-indent: 2em;
	overflow: hidden;
}

.img_tips {
	width: 1054px;
	height: 360px;
	float: left;
	margin: 10px 13px 0px 13px;
}

.img_tips .left {
	width: 635px;
	border-radius: 10px;
	height: 370px;
	float: left;
}

.img_tips .right {
	width: 410px;
	border-radius: 10px;
	height: 370px;
	float: right;
}

.bottom {
	width: 1080px;
	height: 53px;
	font-size: 24px;
	color: #fe8a00;
	text-align: center;
	line-height: 60px;
}

.tips_back {
	width: 100%;
	/*background-color: #000;*/
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	display: none;
	z-index: 99;
	position: absolute;
	top: 0px;
	left: 0px;
}

.tips {
	width: 1054px;
	height: 1337px;
	position: absolute;
	top: 160px;
	left: 13px;
	opacity: 1;
	color: #414d3d;
	background-color: #feefdc;
	font-size: 300%;
	line-height: 600%;
	text-align: center;
	border-radius: 10px;
	display: none;
}

.scan {
	width: 1054px;
	height: 370px;
	position: absolute;
	left: 13px;
	bottom: 43px;
	color: #414d3d;
	background-color: #feefdc;
	border-radius: 10px;
	display: none;
	text-align: center;
	font-size: 60px;
	line-height: 370px;
}