@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/save" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="souce";
		@ var _col=[
		@			  {name:"数据库类型", index:"dbType", type:"select_110",newline:true,length:8,required:"required"},
		@			  {name:"数据库驱动", index:"driver", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"数据库连接", index:"url", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"用户名", index:"username", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"密码", index:"password", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"描述", index:"description", type:"text",newline:true,length:8,required:"required"}		
		@		   ];
		@ include("/common/_curd/_add.html", {"col":_col, "table":_table}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"新增", btn_close:"关闭"}) {}
	</form>

@}
