@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
			
@			  {name:"ID", index:"id", type:"text",newline:true,length:8},
		@			  {name:"数据库类型", index:"dbType", type:"text",newline:true,length:8},
		@			  {name:"数据库驱动", index:"driver", type:"text",newline:true,length:8},
		@			  {name:"数据库连接", index:"url", type:"text",newline:true,length:8},
		@			  {name:"用户名", index:"username", type:"text",newline:true,length:8},
		@			  {name:"密码", index:"password", type:"text",newline:true,length:8},
		@			  {name:"描述", index:"description", type:"text",newline:true,length:8}		
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
